@*@model IEnumerable<NerdDinner.Models.Dinner>*@
@model NerdDinner.Controllers.PaginatedList<NerdDinner.Models.Dinner>



@{
    ViewBag.Title = "Index";
}



<h2>Upcoming Dinners</h2>

<ul>
    @foreach (var dinner in Model) {
        <li>
            @Html.ActionLink(dinner.Title, "Details", new { id=dinner.DinnerID })
            on
            @Html.DisplayFor(modelItem => dinner.EventDate)           
        </li>
    }
</ul>


@if (Model.HasPreviousPage)
{
    @Html.RouteLink("<<<","UpcomingDinners", new { page=(Model.PageIndex-1) })
}
@if (Model.HasNextPage)
{
    @Html.RouteLink(">>>", "UpcomingDinners", new { page = (Model.PageIndex + 1) })
}








